/* content.css */
body {
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
}

header, nav, main, footer {
    margin: 20px;
    padding: 10px;
}

header {
    background-color: red;
    color: #450606;
}

nav {
    background-color:cornsilk;
}

nav ul {
    list-style-type: none;
    padding: 50;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color:lightgreen;
}

main {
    display: flex;
}

#main-content {
    width: 90%;
    padding: 5px;
    text-align: left;
}

aside {
    width: 30%;
    padding: 10px;
    background:lightgreen;
}

footer {
    background-color: #9f9a9c;;
    color:lightblue;
}
@media screen and (max-width: 480px) {
    header {
        font-size: 18px;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
}